<!-- ADFAN_registry/registry_app/templates/registry_app/register.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'registry_app/css/registry_style.css' %}">

</head>
<body>
    <header></header>
        <img src="{% static 'img/Home@2x.png' %}" alt="" class="home-image">
        <img src="{% static 'img/Logo-Congreso@2x.png' %}" alt="" class="logo-image">
        <img src="{% static 'img/LOGO-ADFAN@2x.png' %}" alt="" class="adfan-image">
        <img src="{% static 'img/Heart-Background@4x.png' %}" alt="" class="heart-image">
        <img src="{% static 'img/Registro_1@2x.png' %}" alt="" class="preregistro-image">
        <img src="{% static 'img/Family@4x.png' %}" alt="" class="family-image">
        <img src="{% static 'img/Hearts-Background@3x.png' %}" alt="" class="hearts-image">
    <!-- Success Message Section -->
    <style>
        /* Añadir estilos para los mensajes de éxito y error */
        .message-success {
            color: green;
            font-weight: bold;
            margin-bottom: 15px;
        }

        .message-error {
            color: red;
            font-weight: bold;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <header></header>
    <div class="form-wrapper">
        <div class="form-container">

            <!-- Mostrar Mensajes de Error o Éxito -->
            {% if messages %}
                <div>
                    {% for message in messages %}
                        <p class="{% if message.tags == 'success' %}message-success{% else %}message-error{% endif %}">
                            {{ message }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- Formulario de Registro -->
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <label for="{{ form.name.id_for_label }}">
                        <span class="label-box large">{{ form.name.label }}</span>
                    </label>
                    {{ form.name }}
                </div>
                <div class="form-row">
                    <label for="{{ form.last_name.id_for_label }}">
                        <span class="label-box large">{{ form.last_name.label }}</span>
                    </label>
                    {{ form.last_name }}
                </div>
                <div class="form-row">
                    <label for="{{ form.phone_number.id_for_label }}">
                        <span class="label-box small">{{ form.phone_number.label }}</span>
                    </label>
                    {{ form.phone_number }}
                </div>
                <div class="form-row">
                    <label for="{{ form.date_of_birth.id_for_label }}">
                        <span class="label-box small">{{ form.date_of_birth.label }}</span>
                    </label>
                    {{ form.date_of_birth }}
                </div>
                <div class="form-row">
                    <label for="{{ form.email.id_for_label }}">
                        <span class="label-box small">{{ form.email.label }}</span>
                    </label>
                    {{ form.email }}
                </div>
                <div class="form-row">
                    <div class="button-wrapper">
                        <button type="submit" class="submit-button">Someter</button>
                    </div>
                </div>
            </form>
            <p class="approve_messg">Aprobado por la OCE-SA-2024-13208</p>
        </div>
    </div>
</body>
</html>